#root: true
#
#env:
#  browser: true
#
#"extends": "google",
#"rules": {
#  linebreak-style: ["error", "unix"]
#}

{
  "extends": "google",
  "rules": {
    linebreak-style: ["error", "unix"],
    quotes: ["error", "backtick"]
  }
}
