.calculator {
  width: 300px;
  margin: 0 auto;
  background-color: #757575;
}

.calc-field {
  width: 100%;
  height: 50px;
}

.calc-field input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.calc-numbers {
  width: 100%;
}

.calc-numbers__sym {
  box-sizing: border-box;
  width: 32.3%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  height: 50px;
}

.calc-operations {
  width: 100%;
}

.calc-operations__sym {
  width: 32.3%;
  height: 50px;
}
