.calculator {
  width: 300px;
  margin: 0 auto;
  background-color: #757575;
}

.calc-field {
  width: 100%;
  height: 50px;
}

.calc-field input,
.calc-field p {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: right;
  background-color: white;
  line-height: 3;
}

.calc-numbers,
.calc-operations{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calc-numbers__sym,
.calc-operations__sym{
  width: 32.3%;
  height: 50px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}
