.calculator {
  width: 290px;
  margin: 0 auto;
  background-color: black;
}

.calc-field {
  width: 100%;
  height: 70px;
}

.calc-field input,
.calc-field p {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: right;
  background-color: black;
  line-height: 3;
  border: none;
  color: white;
  font-size: 41px;
}

input[placeholder] {
  color: white;
}

.calc-numbers {
  float: left;
  width: 75%;
}

.calc-operations {
  float: right;
  width: 25%;
}

.calc-numbers,
.calc-operations{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calc-numbers__sym {
  width: 33.3%;
  border-radius: 50%;
}

.calc-operations__sym {
  width: 100%;
  border-radius: 50%;
}

.calc-numbers__sym,
.calc-operations__sym {
  height: 50px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  border: none;
}

.calc-numbers__sym--big {
  width: 66.66%;
}

.calc-operations__sym {
  background-color: orange;
  color: white;
  border: none;
  font-size: 41px;
}

.calc-numbers__sym {
  font-size: 41px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
