td {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  line-height: 2;
  background-color: #757575;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

.check {
  background-color: white;
}

.bang {
  background-image: url("img/mina.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.possible-bomb {
  background-image: url("img/flag.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.bombs0 {
  color: transparent;
}

.bombs1 {
  color: blue;
}

.bombs2 {
  color: green;
}

.bombs3 {
  color: red;
}

.bombs4 {
  color: darkblue;
}

.bombs5 {
  color: darkred;
}

.bombs6 {
  color: deepskyblue;
}


